@charset "utf-8";
/* CSS Document */
input[type=text], input[type=tel], input[type=email], select, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus, select:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(255, 106, 0, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(255, 106, 0, 1);
}
body{
	background-color:rgba(0, 0, 0, 0.25);
	
}
a{
	color:#000000;
	text-decoration:none;
}
#navBar{
	width:50%;
	height:75px;
	float:left;
	margin:0;
	padding-top:50px;
	margin-left:5%;
}
#header{
	float:left;
	width:100%;
	height:150px;	
	margin:0;
	padding:0;
}
.navBtn{
	float:left;
	margin:15px;
	padding:5px;
	font-size:1.5em;
	border:solid #000000 1px;
}
#logo{
	float:left;
}
@media only screen and (max-width: 1430px) {
    #navBar {
        
	height:75px;
	float:left;
	margin:0;
	padding-top:50px;
	margin-left:1%;
    }
    .navBtn{
    	float:left;
	margin:5px;
	padding:2px;
	font-size:1.25em;
	border:solid #000000 1px;
    }
}



@media only screen and (max-width: 830px) {
    #header{
	float:left;
	width:100%;
	height:225px;	
	margin:0;
	margin-bottom:75px;
	padding:0;
    }
    #navBar{
	width:100%;
	height:50px;
	float:left;
	margin:0;
	padding-top:50px;
	margin-left:1%;
    }
    #logo{
    	width:100%;
	float:left;
    }
}

